body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#FFFFFF; 
  }
  
  #calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid #000; 
    border-radius: 10px; 
    background-color: #db5034; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  #display {
    grid-column: span 4;
    width: 96%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
    border: 2px solid #000; 
    border-radius: 8px; 
    background-color: #e4b792; 
    color: #000; 
  }
  
  .button {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #000; 
    border-radius: 5px; 
    background-color: #e4b792;
    color: #000;
  }
  
  button: hover {
    background-color: #e4b792; 
  }
